@model TradingCardventory.Models.User

@if (TempData["AddCardSuccess"] != null)
{
    <h4>@TempData["AddCardSuccess"]</h4>
}

<div class="text-center">
    @if (Model.UserCards.Count == 0)
    {
        <h2>You don't have any cards</h2>
    }
    else
    {
        @foreach (var card in Model.UserCards)
        {
            <img src="@card.ImageUrl" width="300" height="400">
        }
    }
</div>
