@model TradingCardventory.Models.User

<div class="text-center">
    @if (Model.UserCards.Count == 0)
    {
        <h2>You don't have any cards</h2>
    }
    else
    {
        <img src="@Model.UserCards[0].ImageUrl" width="200" height="300">
    }
</div>
