@model IEnumerable<TradingCardventory.Models.Card>

@foreach (var card in Model)
{
    <p>@card.CardName</p>

    <a href ="@Url.Action("AddCard", card)" id="@card.CardId">
        <img src="@card.ImageUrl">
    </a>
}